<div class='row m-auto py-5'>
  <div class='col-3'></div>
  <div class='col-6'>
    <h2>Log In</h2>
    <%= form_with model:@user, url: log_in_path do |f| %>
    <div class='input-group'>
      <span class='input-group-text'>
        <i class="fas fa-user"></i>
      </span>
      <%= f.text_field :name, placeholder: 'Enter your credential', class: 'form-control' %>
    </div>

    <div class='mt-3'>
      <%= f.submit 'Log In', class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>