<%= render 'form' %>
<div class='row m-auto py-2'>
  <div class='col-3'></div>
  <div class='col-6'>
    <h2 class='text-white'> Previous Articles</h2>
    <div class='my-articles'>
      <%= show_prev_articles %>
    </div>
  </div>
</div>
</div>
<div class='row m-auto py-2'>
  <div class='col-3'></div>
  <div class='col-6'>
    <h2 class='text-white'> Bookmarked Articles</h2>
    <div class='my-articles'>
      <%= show_bookmarked_articles %>
    </div>
  </div>
</div>
</div>