<article class='container'>
  <% Article.all.each do |article|%>
  <header><%= article.title %></header>
  <p>
    <%= article.text %>
  </p>
  <caption><%=article.author.name %> </caption>
  <article>
    <% end %>