<section class='row g-0'>
  <div class='featured col-12 d-flex justify-content-center'>
    <%= show_featured %>
  </div>
  <article class='d-flex bg-white'>
    <%= show_others %>
  </article>
</section>