/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "../node_modules/bootstrap/scss/bootstrap";
body {
  background-color: $yellow-900;
  padding: 5px;
}
nav {
  background-color: $gray-100;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: grey;
    font-size: small;
  }
}
a {
  text-decoration: none;
  color: white;
  &:hover {
    color: tomato;
  }
}

article {
  background-color: $indigo-100;
  width: 100%;

  img {
    width: 100%;
    height: 200px;
  }
  .other-article {
    position: relative;
    h5 {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: white;
    }
  }
  p {
    position: absolute;
    bottom: 0.5rem;
    font-size: small;
    left: 0.5rem;
    color: white;
  }
}
footer {
  background-color: $yellow-900;
  position: relative;
  color: azure;
  bottom: 0;
  // left: 0;
  .item {
    font-size: xx-small;
  }
}
.category {
  img {
    width: 50%;
    height: 350px;
  }
}

.card-size {
  width: 50%;
}
.featured {
  border-top: 0.2rem solid teal;
  position: relative;
  width: 100%;
  height: max-content;
  img {
    width: 100%;
    height: 320px;
  }
  h6 {
    position: absolute;
    bottom: 3rem;
    left: 0.5rem;
    color: tomato;
  }
  p {
    position: absolute;
    bottom: 1.2rem;
    font-size: small;
    left: 0.5rem;
    color: white;
  }
}
nav::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  left: 0;
  right: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3333+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+20,2a8ad8+100,2a8ad8+100,2a8ad8+100,207bca+100,2a8ad8+100,2a8ad8+100,2a8ad8+100,2a8ad8+100,207bca+100,207bca+100,207bca+100,7ebae8+100,2a8ad8+100 */
  background: #ff3333; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #ff3333 20%,
    #2a8ad8 20%,
    #2a8ad8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #ff3333 20%,
    #2a8ad8 20%,
    #2a8ad8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #ff3333 20%,
    #2a8ad8 20%,
    #2a8ad8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3333', endColorstr='#2a8ad8',GradientType=1 ); /* IE6-9 */
}
