<article>
  <div class='card'>
    <% @categories.each do |cat| %>
    <div class="row g-0">
      <div class='col-3'>
        <%= link_to cat.name, category_path(cat) %>
      </div>
      <div class='col-3'>
        <div class='card-body'>
          <h5 class='card-title'></h5>
          <p class='card-text'>

          </p>
          <em class="badge bg-primary mx-3"></em>
          <h6 class="card-text mt-2"><strong>Author: </strong>
          </h6>
        </div>
      </div>
      <% end%>
    </div>
    <% #end %>
  </div>
  </div>
  <article>